.App {
  text-align: left;
}

.btns {
  color: #61dafb;
}

.btns:hover{
  color: hotpink;
  cursor:pointer;
}

.dtable {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;

}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: inline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.runtime {
  text-align: right;
  vertical-align: right;
  align-items: right;
  align-content: right;
  text-align: right;
  display: table-cell;
  display: inline;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}