.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: inline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link:hover {
  color: hotpink;
}

.App-link {
  color: #61dafb;
  text-decoration:none;
  display: table-cell;
  vertical-align: middle;
}

.runtime {
  text-align: right;
  vertical-align: right;
  align-items: right;
  align-content: right;
  text-align: right;
  display: table-cell;
  display: inline;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}